.catalog {
  @media (min-width: @tablet-width) {
    margin: 0 41px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 32px 0 0 0;
  }
}

.catalog__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 27px 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin: 0 0 31px 0;
  }
}

.catalog__description {
  color: @color-night-rider;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 17px 37px 17px;

  @media (min-width: @tablet-width) {
    margin: 0 109px 59px 109px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 381px 19px 379px;
  }
}

.catalog__item-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding: 0 20px 48px 20px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (267px);
    margin: 0 auto;
    padding: 0 0 63px 0;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (max-width: @mobile-width-only) {
    padding: 15px 21px 39px 21px;
    border-top: 1px solid @color-form-whisper;
  }

  @media (min-width: @desktop-width) {
    color: @color-white;
  }
}

.catalog__item--main {
  position: relative;
  top: 7px;
  padding: 15px 21px 33px 21px;

  @media (min-width: @tablet-width) {
    padding: 15px 21px 0 21px;
  }

  @media (min-width: @desktop-width) {
    top: 70px;
    padding: 0;
  }
}

.catalog__item-photo {
  object-fit: cover;
  width: 100%;
  height: 280px;

  @media (min-width: @tablet-width) {
    height: 267px;
  }
}

.catalog__item-photo--main {
  object-fit: cover;
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.catalog__item-group {
  display: flex;
  flex-direction: column;
  padding: 16px 20px 0 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    background-color: @color-white-smoke;
    padding: 23px 6px 20px 20px;
  }

  @media (min-width: @desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
    mix-blend-mode: normal;
    position: relative;
    top: -71px;
    left: 0;
    padding-bottom: 0;
  }
}

.catalog__item-group-text {
  display: flex;
  flex-direction: column;
}

.catalog__item-title {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: -10px 0 14px 0;
  }
}

.catalog__item-description {
  margin: 0 0 16px 0;
  color: @color-night-rider;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 0;
  }

  @media (min-width: @desktop-width) {
    color: @color-white;
    margin: -13px 0 12px 0;
  }
}

.catalog__like {
  position: relative;
  margin: 0;
  font-weight: 700;
  margin: 0 15px 0 0;

  @media (max-width: @mobile-width-only) {
    margin-left: 28px;
    padding-left: 10px;
  }
}

.catalog__button {
  position: absolute;
  top: -4px;
  left: -28px;
  border: none;
  background-repeat: no-repeat;
  fill: @color-black;
  opacity: 0.3;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    fill: @color-white;
    opacity: 1;
  }
}
