.catalog__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.catalog__description {
  color: @color-night-rider;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.catalog__item-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    margin: 0 auto;
    padding: 0;
  }
}

.catalog__item--main {
  @media (min-width: @tablet-width) {
    grid-column: span 2;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 3;
  }
}

.catalog__item {
  background-color: @color-white-smoke;
}

.catalog__item-title {
  font-weight: 700;
  text-transform: uppercase;
}

.catalog__item-description {
  color: @color-night-rider;
}

.catalog__button {
  background-image: url("../img/svg/like-icon.svg");
  width: 23px;
  height: 21px;
  background-repeat: no-repeat;
}

.catalog__like {
  font-weight: 700;
}
