.footer__hash {
  background-image: url("../img/svg/visit-sedona.svg");
  background-repeat: no-repeat;
  height: 26px;
  width: 166px;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

