.form__list {
  list-style: none;
}

.form__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto;
}

.form__label {
  color: @color-night-rider;
}

.form__input-phone-icon {
  background-image: url("../img/svg/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 12px;
  background-color: @color-form-whisper;
}

.form__input-mail-icon {
  background-image: url("../img/svg/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  background-color: @color-form-whisper;
}

.form__field {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: @color-white-smoke;
}

.form__submit-block {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 768px;
    margin: 0 auto;
  }
}

.form__submit-description {
  color: @color-night-rider;
}

.form__wrapper {
  display: flex;
  justify-content: center;
  border: none;
  margin-bottom: 40px;
}

.form__list--form-radio {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    column-gap: 50px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    column-gap: 60px;
  }
}

.form__list--form-checkbox {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    column-gap: 84px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    column-gap: 60px;
  }
}
