.form__list {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 0;
    padding: 11px 45px 49px 45px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

.form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin: 0 0 27px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 0;
  }
}

.form__title--name-user {
  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin: 0 0 0 22px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 10px 32px;
  }
}

.form__title--user-phone {
  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin: 0 0 0 -20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 11px -32px;
  }
}

.form__label {
  color: @color-night-rider;
  padding-left: 16px;
}

.form__input-wrapper {
  position: relative;
  display: flex;
}

.form__input-icon {
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0;
}

.form__input-phone-icon {
  background-image: url("../img/svg/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  background-color: @color-form-whisper;
}

.form__input-mail-icon {
  background-image: url("../img/svg/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  background-color: @color-form-whisper;
}

.form__field {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: @color-white-smoke;
  font-family: inherit;
  padding: 16px 56px 16px 16px;
  max-width: 430px;
  box-sizing: border-box;
  border: none;

  @media (min-width: @desktop-width) {
    width: 430px;
  }
}

.form__field--user-phone {
  @media (min-width: @desktop-width) {
    width: 402px;
  }
}

.form__field:hover {
  background-color: @color-button-whisper;
}

.form__field:active {
  background-color: @color-white;
  box-shadow: 0 0 0 4px @color-button-whisper;
}

.form__field:focus-visible {
  outline: none;
}

.form__submit-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 18px 59px 18px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 768px;
    padding: 0 63px 98px 63px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 63px 105px 63px;
  }
}

.form__submit-button {
  max-width: 324px;
  padding: 15px 50px;
  border: none;

  @media (min-width: @tablet-width) {
    padding: 15px 66px;
  }

  @media (min-width: @desktop-width) {
    max-width: 386px;
    width: 100%;
  }
}

.form__submit-description {
  font-size: 12px;
  color: @color-night-rider;
  margin: 0 0 0 143px;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 14px;
  }
}

.form__wrapper {
  display: flex;
  justify-content: center;
  border: none;
  margin: 0 0 38px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

.form__wrapper-btn {
  margin: 0 0 38px 0;

  @media (min-width: @tablet-width) {
    border-left: 1px solid @color-form-whisper;
    margin: 0 0 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 0;
  }
}

.form__wrapper--user-phone {
  @media (min-width: @desktop-width) {
    padding: 0 0 0 63px;
  }
}

.form__field--textarea {
  resize: none;
  height: 150px;

  @media (min-width: @tablet-width) {
    height: 163px;
    width: 100%;
    max-width: 768px;
    margin: 0 59px 1px 59px;
  }
}

.form__list--form-radio {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 20px -29px 20px;
    column-gap: 83px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 48px 0;
    column-gap: 60px;
  }
}

.form__title--attraction {
  @media (min-width: @tablet-width) {
    margin: 0 0 28px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 68px 0;
  }
}

.form__title--impression {
  @media (min-width: @tablet-width) {
    padding: 0 0 0 0;
    margin: 0 0 26px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 55px 0;
  }
}

.form__wrapper--commit {
  margin: -23px 0 36px 0;

  @media (min-width: @tablet-width) {
    margin: -23px 0 50px 0;
  }
}

.form__title--commit {
  margin: 0 0 26px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 26px 0;
  }
}

.form__list--form-checkbox {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 -9px 0;
    column-gap: 114px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 0 85px 0;
    column-gap: 73px;
  }
}

.form__item {
  margin-bottom: 36px;
}

.form__item--text {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}
