.form__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.form__label {
  color: @color-night-rider;
}

.form__input-phone-icon {
  background-image: url("../img/svg/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 12px;
}

.form__input-mail-icon {
  background-image: url("../img/svg/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
}

.form__field {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__submit-block {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__submit-description {
  color: @color-night-rider;
}

.form__wrapper {
  display: flex;
  justify-content: center;
}
