.intro {
  background-image: url("../img/svg/intro-triangle.svg"), url("../img/background/back-desktop.jpg");
  background-position: bottom;
  background-color: @color-gainsboro;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @tablet-width) {
    background-size: contain, cover;
  }
}

.intro__logo {
  display: flex;
  margin: 0 auto;
  padding: 85px 90px;
}
