.main-nav__link {
  color: @color-black;
  font-weight: 700;
  text-decoration: none;
}

.main-nav__link--current {
  color: @color-roman-coffee;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;


  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 47px;
  }

  .main-nav {
    display: flex;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}
