.page-form {
  font-family: @ff-pt-sans;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 960px;
}

.page-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 24px 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin: 0 0 20px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 40px 0;
  }
}

.page-form__description {
  color: @color-night-rider;
  text-align: center;
  margin: 0 29px 54px 29px;

  @media (min-width: @tablet-width) {
    margin: 0 3px 106px 0;
  }

  @media (min-width: @desktop-width) {
    margin: -8px 3px 70px 0;
  }
}

.page-form__form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    margin: 0 0 57px 0;
  }
}
