.presentation {
  text-transform: uppercase;
  text-align: center;
}

.presentation__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  text-transform: uppercase;
}

.presentation__description {
  font-size: 14px;
  line-height: 21px;
  color: @color-night-rider;
  text-transform: uppercase;
}

.presentation__img {
  object-fit: cover;
  width: 100%;

  @media (min-width: @desktop-width) {
    max-width: 800px;
  }
}
