.social__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 -8px 42px 0;

  @media (min-width: @tablet-width) {
    margin: 0 3px 42px 0;
  }

  @media (min-width: @desktop-width) {
    margin: -8px 3px 42px 0;
  }
}

.social__link {
  color: #000000;
  text-decoration: none;
  fill: @color-seagull;
}

.social__item {
  margin-right: 6px;
}

.social__link:hover {
  fill: @color-shakespeare;
}

.social__link:active {
  fill: @color-shakespeare-down;
}

.social__link:disabled {
  cursor: default;
}
