@color-white: #ffffff;
@color-black: #000000;
@color-seagull: #81b3d2;
@color-gainsboro: #dbdbdb;
@color-night-rider: #333333;
@color-roman-coffee: #766357;
@color-white-smoke: #f2f2f2;
@color-whisper: #eeeeee;

@ff-pt-sans: "PT Sans", "Arial", sans-serif;
@ff-pt-sans-bold: "PT Sans bold", "Arial", sans-serif;
